.counter {
  border: 1px solid #eaecef;
  padding: 20px;
}
.button {
  font-size: 14px;
  border: 1px solid #cdd1e4;
  transition: color 0.25s, border-color 0.25s;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 14px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  &:hover {
    color: #415fcc;
    border-color: #415fcc;
  }
}
